body{
    background-color: #404477;
    color: #ffac89; 
    padding: 5%;
    padding-top:2%;   
}

img{
    height: 400px;
    width: 350px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}


footer p{
    padding: 0.5%;
    text-align: center;
    color: #ffac89;
}